<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
    <title>Home</title>
</head>
<body class="body">
    <h1 class="homeH1">Martin Luther King's website</h1>
    <section class="nav">
      <ul>
        <li><a href="/views/home.html">home</a></li>
        <li><a href="/views/about.html">about</a></li>
        <li><a href="/views/work.html">work</a></li>
      </ul>
      <div>

      </div>
      <br>
      <div id="homeMLK">
        <img id="aboutIMG" src="/public/home.jpg" alt="">
     </div>
     <div>
        <p id="pHome">
        This website is an exercise for the course im taking, it displays just a bit of infos about MLK.
        This is non official, in case you need to gather more infos about MLK, please visit Wikipedia or other website with infos about his life
        </p>
     </div>
</body>
</html>